/* SKINS */
.power_amps{{{cns}}} {
    border-radius: 20px;
}
.power_amps{{{cns}}} {
    background-image: url(/resources/heads/head.webp{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Helvetica,Arial,Sans-serif;
    height: 146px;
    position: relative;
    width: 550px;
}

.power_amps{{{cns}}} .mod-pedal-input {
    top: 46px;
}

.power_amps{{{cns}}} .mod-pedal-output {
    top: 46px;
}

/* THE AUTHOR */
.power_amps{{{cns}}} .mod-plugin-brand h1 {
    bottom: 90px;
    color: #fff;
    font-size: 14px;
    left: 54px;
    line-height: 1;
    margin: 0;
    position: absolute;
}

/* PLUGIN'S NAME */
.power_amps{{{cns}}} .mod-plugin-name h1 {
    top: 6px;
    color: #444;
    font-size: 18px;
    left: 370px;
    line-height: 1;
    margin: 0;
    position: absolute;
    text-shadow:0 1px 0 #888;
}

/* CONTROLS */
.power_amps{{{cns}}} .mod-control-group {
    bottom: 149px;
    color: #000;
    font-size: 10px;
    height: 73px;
    left: 34px;
    position: absolute;
    right: 34px;
    top: 37px;
}

.power_amps{{{cns}}} .mod-control-group > div {
    margin-right: 2px;
}

/* SWITCH ON/OFF GENERAL */
.power_amps{{{cns}}} .mod-switch {
    cursor: pointer;
    float: left;
    height: 73px;
    position: relative;
    width: 90px;
}

.power_amps{{{cns}}} .mod-switch-image {
    background-image: url(/resources/switches/switch-001.png{{{ns}}});
    background-position: -9px 0px;
    background-repeat: no-repeat;
    background-size: auto 73px;
    height: 73px;
    width: 73px;
}

.power_amps{{{cns}}} .mod-switch-image.on {
    background-position: -82px 0px;
}

.power_amps{{{cns}}} .mod-switch-image.off {
    background-position: -9px 0px;
}


/* CHICKEN HEAD */
.power_amps{{{cns}}} .mod-chicken-head {
    float: left;
    height: 73px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 70px;
}

.power_amps{{{cns}}} .mod-chicken-head .mod-chicken-head-image {
    background-image: url(/resources/knobs/_sprite.webp{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 70px;
    height: 73px;
    margin-top: 8px;
    position: relative;
    width: 70px;
    z-index: 2;
}

.power_amps{{{cns}}} .mod-chicken-head .mod-chicken-head-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}

/* ENUMERATED LIST */
.power_amps{{{cns}}} .mod-enumerated {
    color: #000;
    display: inline-block;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: -8px;
    width: 180px;
}

.power_amps{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background: rgba(255,255,255,.85);
    border-radius: 4px;
    box-shadow:inset 1px 1px 10px #000;
    font-weight: bold;
    font-size: 14px;
    height: 34px;
    line-height: 2.5;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 9px;
}

/* WHEN IS HOVER */
.power_amps{{{cns}}} .mod-enumerated:hover .mod-enumerated-selected {
    border-radius: 4px 4px 0 0;
}

/* THE LIST OF OPTIONS */
.power_amps{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background: rgba(255,255,255,.85);
    display: none;
    font-weight: bold;
    font-size: 14px;
    height: 159px;
    overflow: auto;
    position: relative;
    width: 242px;
    z-index: 3;
}

.power_amps{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding: 3px 9px;
}

.power_amps{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background: rgba(0,0,0,.35);
    cursor: pointer;
}

/* SEPARATOR */
.power_amps{{{cns}}} .mod-separator {
    background: #000;
    display: inline-block;
    float: left;
    height: 69px;
    margin-top: 2px;
    width: 1px;
}
